.container {
    /* background: url(../../assets/bg.jpg) no-repeat center center fixed; */
    
    letter-spacing: 1px;
    /* height: auto; */
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* justify-content: space-around; */
    /* align-items: center; */
}
h1 {
    margin: 0;

}
img {
    margin: 8px 8px 2px 0;
}
p {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    
}
.details {
    display: flex;
    flex-direction: column;
}
.left {
    width: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}
.right {
    display: flex;
    justify-content: center;
}
.register {
    width: 40vw;
    /* margin: 0px auto; */
    /* position: absolute;
    left: 78%;
    top: 5%;
    transform: translateX(-50%); */
    border-radius: 10px;
    box-shadow: 10px gray;
}

.buttons {
    display: flex;
    flex-direction: row;
}
.name, .email, .linkedin, .site {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}
label {
    font-size: 14px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}
.form-group {
    /* height: 86px; */
    width: 48%;
}
.name, .address, .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.course {
    position: relative;
}
#add {
    position: absolute;
    right: 0;
    top: -0px;
    /* background-color: #3453ff;     */
}
.spinner {
    top: 50%;
    /* transform: translateY(-50%); */
    text-align: center;
}
.spinner mat-spinner {
    
    margin: 0 auto;
    
}
.courses {
    display: flex; flex-direction: row; justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .register {
        width: 100%;
        /* position: absolute; */
        /* left: 50%;
        top: 45%;
        transform: translate(-50%, -20%); */
        /* border: 1px solid gray; */
    }
    .name, .address, .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .left, .right {
        width: 100%;
        margin-bottom: 10px;
    }
    h2 {
        text-align: center;
    }
    .left mat-card {
        margin: 10px 0 10px 0;
    }
    .courses {
        text-align: center;
        display: flex; flex-direction: column; justify-content: space-between;
    }
    .form-group {
        /* height: 86px; */
        width: 100%;
    }
    .container {
        height: 200% !important;
        display: flex;
        flex-direction: column;
        /* background-color: lightgray; */
    }
}